<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://xn--2-7sbap2amif.xn--j1aoae.xn--p1ai:8080/MENU/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/menudb</property>
    <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tinne</property>
    <property name="connection.characterEncoding">UTF-8</property>
    <property name="show_sql">true</property>
    <property name="use_reflection_optimizer">true</property>
    <mapping resource="Item.hbm.xml"/>
    <mapping resource="Category.hbm.xml"/>
    <mapping resource="User.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
